body {
    font-family: "Fira Sans", sans-serif;
    color: black;
    background: white;
}
h1 {
    margin: 0;
}
th {
    font-weight: normal;
}
th:first-child {
    text-align: left;
    font-size: 1.5rem;
}
td {
    text-align: center;
}
td.operator {
    width: 1.5em;
    color: #999;
}
td.input {
    width: 3.5rem;
}
tfoot td {
    text-align: left;
}
input[type=number] {
    color: inherit;
    border: none;
    background: transparent;
    width: 3em;
    font: inherit;
    text-align: center;
}
